@import "bootstrap"

body
  padding-bottom: 70px

.hero
  display: inline-block
  overflow: hidden
  background-repeat: no-repeat
  background-image: url(../img/1_2_1_2597_21270_0.gif)
  width: 64px
  height: 64px
  vertical-align: middle
