@import "bootstrap"

body
  padding-top: 50px
  padding-bottom: 70px

.sun
  @extend .glyphicon
  @extend .glyphicon-heart
  color: pink

.fire
  @extend .glyphicon
  @extend .glyphicon-fire
  color: red

.water
  @extend .glyphicon
  @extend .glyphicon-tint
  color: blue

.tree
  @extend .glyphicon
  @extend .glyphicon-leaf
  color: green

.hero
  display: inline-block
  overflow: hidden
  background-repeat: no-repeat
  width: 64px
  height: 64px
  vertical-align: middle

.hero-dead
  background-position: 0 -128px

.hero-sun
  @extend .hero
  background-image: url(../img/2_1_0_2062_21230_22480.gif)

.hero-fire
  @extend .hero
  background-image: url(../img/1_2_1_2597_21270_0.gif)

.hero-water
  @extend .hero
  background-image: url(../img/2_10_5_2503_21580_2206.gif)

.hero-tree
  @extend .hero
  background-image: url(../img/2_6_2_2030_21900_27380.gif)
