---
title: dungeon
---

.page-header
  h1 トキワの森
  p 薄暗い森。ピカチュウとか出てくる。

.panel.panel-default
  .panel-heading
    h3.panel-title パーティ
  .panel-body
    .list-group
      a.list-group-item href="#"
        span.hero
        | ハルヒロ
        .progress.progress-striped.active
          .progress-bar.progress-bar-success role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
      a.list-group-item href="#"
        | ---
        span.glyphicon.glyphicon-chevron-right.pull-right
      a.list-group-item href="#"
        | ---
        span.glyphicon.glyphicon-chevron-right.pull-right
      a.list-group-item href="#"
        | ---
        span.glyphicon.glyphicon-chevron-right.pull-right

.panel.panel-default
  .panel-heading
    h3.panel-title 目的地
  .panel-body
    select.form-control
      option 1
      option 2
      option 3

nav.navbar.navbar-default.navbar-fixed-bottom role="navigation"
  .container-fluid
    .row
      .col-xs-6
        button.btn.btn-default.btn-lg.btn-block.navbar-btn type="button" 戻る
      .col-xs-6
        button.btn.btn-primary.btn-lg.btn-block.navbar-btn type="button" 出発
