---
title: heros
---

div.page-header
  h1 勇者

div.list-group
  a.list-group-item href="#"
    span.hero
    | ハルヒロ
    span.glyphicon.glyphicon-chevron-right.pull-right
    div.progress.progress-striped.active
      div.progress-bar.progress-bar-success role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
  a.list-group-item href="#"
    | ---
    span.glyphicon.glyphicon-chevron-right.pull-right
  a.list-group-item href="#"
    | ---
    span.glyphicon.glyphicon-chevron-right.pull-right
  a.list-group-item href="#"
    | ---
    span.glyphicon.glyphicon-chevron-right.pull-right

= partial "layouts/footer"
